<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        h3{
            text-align: center;
            background-color: aqua;
            border:10px;
            border-radius: 20px;
            padding: 5px;
        }
    </style>
</head>
<body>
  <h3>Modify your Data Here</h3>
    <div class="container">
        <form action="/update/{{ user.id }}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="update"  class="btn btn-success">
        </form>
    </div>
</body>
</html>